[Desktop Entry]
Categories=Qt;KDE;Graphics;Viewer;
Comment=A Qt based ebook reader
Exec=lector %U
GenericName=eBook Reader
Icon=Lector
MimeType=application/cbr;application/cbz;application/epub+zip;application/ereader;application/mobipocket-ebook;application/pdf;application/vnd.amazon.mobi8-ebook;application/vnd.comicbook+zip;application/vnd.comicbook-rar;application/x-cbr;application/x-cbz;application/x-mobi8-ebook;application/x-mobipocket-ebook;application/x-mobipocket-subscription;
Name=Lector
Type=Application
X-KDE-StartupNotify=false
